
@{
    ViewBag.Title = "HizliKurulum";
    Layout = "~/Views/Shared/_Welcome.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post" role="form">
            <input type="hidden" name="Onay" id="Onay" />
            <div class="col-lg-12">
                <h1 class="page-header">Choice Admin Control Systems V.1.4</h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ÇOMAR AI V.1.2 (ALPHA)
                    </div>
                    <div class="panel-body">
                        <p>
                            Tekrardan Merhaba! Ben SiteRobotu Çomar. Şimdi Sitenizin Veritabanını Oluşturup Temel Ayarlamaları Yapacağım.
                            Veritabanı Ayarlamaları İçin Seçtiğiniz Modele Göre Temel Bir Ürün Ekleyip Kategorileri Ve alt Kategorileri
                            Oluşturacağım. Siz Bu işleme Hazırsanız İşlemi Başlatıp Arkanıza Yaslanın Ben sitenizi Daha iyi hale
                            getireceğim.
                        </p>
                    </div>
                    <div class="panel-footer">
                        Hadi Hazırsanız Başlayalım...
                    </div>
                </div>
            </div>
           
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>ÇOMAR SİTE İNŞASI</h1>
                        <p>Herşey Düzgün Gözüküyor... Şimdi İşleme Hazırım Sende Hazırsan Hadi İşe Koyulalım.</p>
                        <p>
                            <button class="btn btn-primary btn-lg">Sitemi inşaa Etmeye Başla</button>
                        </p>
                    </div>
                </div>
        </form>
    </div>
</div>