
@{
    ViewBag.Title = "Uyari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Choice Admin Control Systems V.1.4 <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button></h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ÇOMAR AI V.1.2 (ALPHA)
                    </div>
                    <div class="panel-body">
                        <p>
                            Tekrardan Merhaba! Ben SiteRobotu Çomar. Yönlendirici Henüz Yapım Aşamasında Olan Bir Sayfaya sizi yönlendirdi.
                            Yanlız Bu sayfayı daha iyi hale getirmek için geliştiricilerimiz bol bol kahve içip sabahlara kadar xbox one
                            ile Halo oyanayıp size henüz bu sayfayı hazırlayamadılar :(... Yakında Buraya Geldiğiniz Tüm Linklerin Dolacağı
                            günleri Görmek Dileğiyle...
                        </p>
                    </div>
                    <div class="panel-footer">
                        Haydi şimdi Bu Can Sıkıcı Sayfadan Çıkalım...
                    </div>
                </div>
            </div>
    </div>
    <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            ÇOMAR YARDIM
                        </div>
                        <div class="panel-body">
                            <p>
                                Merhaba! Ben SiteRobotu Çomar. Bu Sayfayı Görmenizin Sebebi Bu Sayfayı Henüz Kodlayamadık Yada Test Sürecimizde.
                                Her Program Gibi Bu Programda Gelişe Gelişe Dallanıp Budaklanacak Bir Ağaç Gibi... Bu Sayfa Standart Bir <strong>404</strong>
                                 Sayfasıdır. Aslında Bir Hata Ortada Yoktur Yönlendirici Cilent (Yani Siz) ten Gelen Komuta Göre Serverin (Yani Ben)
                                İstenilen Sayfayı Açmasını İster. Ama O sayfa henüz yapılmadığı yada tanımlanmadığı İçin İçersinde bir takım
                                (Alien) Yazıları Olan Bir Özel Durum Döndürür. O Sayfada Bir Sürü Yazılar Komutlar Kodlar Vardır Ve Cilent
                                (Yani siz) Bu sayfayı anlamaz Ve Hemen Geri gider Yada Pencereyi Kapatır. Hal Böyle Olunca Geliştiriciler
                                (Yani Biz) Oturup düşünmüşler ve Kullanıcıların Sayfayı kapatmaması ve uygulamadan çıkmamaları için
                                Bu gibi Durumlara özel bir sayfa tasarlamışlar ve genel tanım olarak bu sayfaya "404" sayfası kod adı
                                vermişler. Bu Sayfayı Özel kılan şey pazarlama stratejisi ve biraz renli bir kaç görseldir. İşte
                                Bizde Şuan Bunu Yapmaktayız.
                            </p>
                        </div>
                        <div class="panel-footer">
                            Şimdi Bu Pencereyip Kapatıp Başka sayfalara Tıklayalım...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
